<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ttmatConnStr" connectionString="Data Source=ttdata;user id=ttmat;password=ttmat789"/>
    <add name="ttshopConnStr" connectionString="Data Source=orttshop;user id=ttshop;password=ttadmin456"/>
    <add name="ttmatLocalConnStr" connectionString="Data Source=oras2;user id=ttmat;password=ttmat789"/>
    </connectionStrings>
  <appSettings>
    <add key="ttmatPkgName" value="TTMAT_PKG.ttmat_nlscan"/>
    <add key="ttshopNLScanPkgName" value="TTSHOP_NLSCAN_PKG.check_production_date"/>
    <add key="msgwpPkgName" value="MSGWP_MESSAGE_PKG.nlscan_center"/>
    </appSettings>

</configuration>